@use 'utils/colors';
 
 .list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.list-item{
	margin-bottom: 24px;
}

.link{
	text-decoration: none;
	color: colors.$white;
	border-radius: 32px;
	padding: 8px 12px;
	
&.active {
	background-color: colors.$purple;
}

}

.logout{
	margin: 0px 10px;
}