:host{
	display: grid;
	grid-template-columns: repeat(auto-fill , minmax(240px, 1fr ));
	grid-gap: 32px;
} 

.card-link:hover, .card-link:visited, .card-link:link, .card-link:active{
	text-decoration: none;
}