@use 'utils/colors';

.review-card{
	width:80%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: colors.$purple;
	color: colors.$white;
	border-radius: 24px;
	padding: 32px;
}
.review-card div{
	flex-grow: 2;
	padding-left: 20px;
}