<div class="write-card">
	<h3 class="reviews-title">Reviews</h3>

	<form [formGroup] = "reviewFormGroup">
		<mat-form-field appearance="outline" class="comment">
			<mat-label>Enter review</mat-label>			
 		 <!-- <textarea matInput required
			placeholder="Your thoughts on this show..."
			formControlName="comment"></textarea> -->
			<mat-error>Comment is required</mat-error>
			<input type="text" 
				matInput required
				placeholder="Your thoughts on this show..."
				formControlName="comment">
				<!-- <mat-icon matSuffix>edit</mat-icon> -->
		</mat-form-field>

		<div class="rating-button">
			<mat-form-field appearance="outline">
			<mat-label>Rating</mat-label>
			<input type="number" 
				matInput required
				formControlName="rating">
			<mat-icon matSuffix>star</mat-icon>
			<mat-error>Rating is required</mat-error>
		</mat-form-field>

	<button 
		mat-raised-button color="primary"
		(click) = "onSubmit()"
		[disabled] = "reviewFormGroup.invalid"
		>POST</button>
	</div>
	</form>



</div>
