@use 'utils/colors';

.write-card{
	width:100%;
	margin: 0 auto;
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: colors.$white;
}
.reviews-title{
	font-weight: lighter;
}
form{
	width: 80%;
	display: flex;
	flex-direction: column;
}
button{
	 margin-top: 12px;
}
.commment{
	background-color: colors.$white;
	color: colors.$black;
	width: 100%;
	padding: 20px;
}
.rating-button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
