@use 'utils/colors';

:host{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: colors.$dark-purple;
}
form{
	display: flex;
	flex-direction: column;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
}


.login-card{
	width: 80%;
	max-width: 500px;
	border-radius: 24px;
	background-color: colors.$purple;
	padding: 50px;
}

.login-form{
	margin: 0 auto;
}

.other-form{
	text-align: center;
	padding: 15px;
	color: colors.$white;
	font-weight: lighter;
}

.other-form a{
	text-decoration: none;
	color: colors.$white;
	font-weight: 500;
}

.button{
	width: auto;
	margin: 20px auto;
}