<mat-card class="login-card">
	<app-logo class="logo"></app-logo>
	<form [formGroup] = "loginFormGroup" class="login-form">
		<mat-form-field appearance="outline">
			<mat-label>Email address</mat-label>
			<input type="email" 
				matInput required
				placeholder="example@example.com"
				formControlName="email">
			<mat-icon matPrefix>person</mat-icon>    
			<!-- <mat-error *ngIf="loginFormGroup.get('email')?.invalid">{{getErrorMessage()}}</mat-error> -->

		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input type="password" 
				matInput required
				formControlName="password">
			<mat-icon matPrefix>lock</mat-icon>
		</mat-form-field>

	<button mat-raised-button color="primary"
	class="button"
		(click) = "onLogin()"
		[disabled] = "loginFormGroup.invalid"
		>LOG IN</button>
	</form>
	<p class="other-form mat-small">Don't have an account? <a routerLink="/register">Register</a></p>
</mat-card>