<mat-card class="login-form">
	<h2>Login</h2>
	<form [formGroup] = "loginFormGroup">
		<mat-form-field appearance="outline">
			<mat-label>Email address</mat-label>
			<input type="email" 
				matInput required
				placeholder="example@example.com"
				formControlName="email">
			<mat-icon matPrefix>person</mat-icon>    
			<!-- <mat-error *ngIf="loginFormGroup.get('email')?.invalid">{{getErrorMessage()}}</mat-error> -->

		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input type="password" 
				matInput required
				formControlName="password">
			<mat-icon matPrefix>lock</mat-icon>
			<mat-hint>At least 8 characters long</mat-hint>
		</mat-form-field>

	<button 
		mat-raised-button color="primary"
		(click) = "onLogin()"
		[disabled] = "loginFormGroup.invalid"
		>Login</button>
	</form>
	<p class="other-form">Don't have an account? <a routerLink="/register">Register</a></p>
</mat-card>